<html lang = "en">
<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
	<div class="Blogs Content">
		<h2>All Blogs</h2>
		<% if (blogs.length > 0) { %>
			<% blogs.forEach(blog => { %>
				<h3 class="Item Name"><%= blog.itemName %></h3>
				<p class= "Item Description"><%= blog.itemDesc %></p>
				<p class= "Item Quantity"><%= blog.quantity %></p>

			<% }) %>
		<% } else {%>
		<p> There are no Sales blog to display.....</p>
		<% } %>

	</div>
	
	<%- include('./partials/footer.ejs') %>

</body>
</html>